<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MathNotes</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
    
  </welcome-file-list>
  
   <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controllers.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Notes</display-name>
    <servlet-name>Notes</servlet-name>
    <servlet-class>controllers.Notes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notes</servlet-name>
    <url-pattern>/Notes</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Cambio</display-name>
    <servlet-name>Cambio</servlet-name>
    <servlet-class>controllers.Cambio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cambio</servlet-name>
    <url-pattern>/NewPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Moder</display-name>
    <servlet-name>Moder</servlet-name>
    <servlet-class>controllers.Moder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Moder</servlet-name>
    <url-pattern>/Moderacion</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>org.jmarquezs.filters.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/jsp/registrados/*</url-pattern>
  </filter-mapping>
</web-app>