header{

background-image: url(/MathNotes/img/fondo.jpg) ;
background-repeat: unset;
border-bottom: solid #0429EA 2px;
align-content: center;

}
h1{
    font-family: 'Bradley Hand ITC';
    font-size: 50px;
    color: #0429EA;
     font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
    background-color: white;
    background-repeat: unset;
    
    
    font-weight: bold;
}
button{
font-family: 'Verdana';
    color: #0429EA;
    
    font-weight: bold;
    border-radius: 44cm;
    
    border: solid #797979 1px;
  
}
#profesor{

    border-right: solid #BFB9B9 1px;
}

#h3index1{
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 28px;
    
}

#parrafoIndex{
    font-family: 'Verdana';
    font-size: 20px;
}


#imagenLG{
    width: 456px;
    height: 496px;
    margin-left: 20%;
}
#imagenMD{
    width: 406px;
    height: 446px;
    margin-left: 10%;
 
}
#h3index2{
    font-family: 'Bradley Hand ITC';
    font-weight: bold;
    font-size: 48px;
    color: #0429EA;
    text-decoration: underline;
    text-align: center;
}

input{
    font-family: 'Verdana' ;
    font-size: 20px;
    font-weight: bold !important;
    border-radius: 45cm !important;
    height: 60px !important;
    width: 310px !important;
    margin-left: 20%;
    
}
#botonUp{
    height: 48px;
    font-size: 18px;
}
#botonDown{
    height: 63px;
    font-size: 20px;
    margin-left: 20%;
}

button:hover{
    background-color: #DBD0D0 !important;
}
#movilFondo{
    background-image: url(/MathNotes/img/fondoClaro.jpg);
    background-repeat: unset;
}
#movilFondo input{
    margin-left: 0%;
}
#movilFondo button{
    margin-left: 0%;
}


#fondoNotes{

    background-image: url(/MathNotes/img/fondoClaro.jpg);
    background-repeat: unset;
}

#pageNotes{

    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border: 1px solid #DBD0D0;
    font-family: 'Verdana' ;
    font-size: 20px;
}

#h3notes{
    font-family: 'Bradley Hand ITC';
    font-weight: bold;
    font-size: 48px;
    color: #0429EA;
    border-left: 3px solid #0429EA;
    border-bottom: 3px solid #0429EA;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    /*margin-bottom: 30px !important*/
    margin-top: 30px !important;
}
nav{
    border-right: 2px solid #0429EA;
    border-top: 2px solid #0429EA;
    border-top-right-radius: 15px;
    padding-top: 10px;
    margin-left: 15px;
}

#icon{
    width: 58px;
    height: 55px;
}

#botonNav:hover{

background-color: #E6E6E6;
}

#textSearch{
    font-size: 18px;
    padding-right: 0px;
}
#textSearch img{
   
    height: 34px !important;
    background-color: #0429EA;
    border-radius: 20px;
    padding: 4px;
}
#textSearch input{
    font-family: 'Arial';
    font-size: 13px;
    margin-left: 0px;
    height: 37px !important;
    width: 331px !important;
}
#textSearch form{
    font-size: 15px;
    margin-left: 70px;
    height: 37px !important;
    width: 331px !important;
}
#asignatura{
    font-family: 'Verdana' ;
    font-weight: bold;
    
    background-color: #0429EA;
    color: white;
    border-radius: 25px;
    height: 49px;
}
#asignatura p{
padding-top: 7px;
padding-left: 20px;
}
#note{
background-color: #ACABD2;
font-family: 'Verdana' ;
    font-weight: bold;
    color: white;
    height: 133px;
    border: 1px solid #797979;
    border-bottom-right-radius: 20px;
    padding: 0px;
}
#note div{
    background-color: #0429EA;
    border: 1px solid #797979;
    text-align: center;
    width: 100% !important;
    height: 46px;
    padding-top: 5px;
}
#note img{
    width: 32px;
    height: 32px;
    margin-left: 70%;
    margin-top: 30%;
}
#menuimg{
    width: 32px;
    height: 32px;
}
.card{
    background-image: url(/MathNotes/img/fondoClaro.jpg);
}
.card button{
    font-family: 'Verdana' ;
    font-weight: bold;
    background-color: white;
    color:  #0429EA;
    font-size: 15px;
}

#formMovil input{
    margin-left: 30px !important;
    height: 40px !important;
    font-weight: normal !important;

}

#formMovil  img{
   
    height: 34px !important;
    background-color: #0429EA;
    border-radius: 20px;
    padding: 4px;
}

#asignaturaMovil{
    
    
    font-family: 'Verdana' ;
font-weight: bold;
font-size: 20px;
background-color: #03008C;
color: white;
border-radius: 25px;
height: 49px;
}
#asignaturaMovil p{
padding-top: 7px;
padding-left: 20px;
}

#formCreate{
    margin-top: 50px;
    font-family: 'Verdana' ;
font-weight: bold;
font-size: 20px;

}
#formCreate #groupPublic input{
    height: auto !important;
    width: auto !important ;
        margin-left: 10px;
   
}
#info{
    font-weight: normal;
font-size: 12px;

}

#inputWrite{
    font-size: 15px;
    height: 40px !important;
    padding-left: 20px;
    width: 400px !important; 
    margin-left: 0px !important;
}

textarea{
    font-size: 15px;
    border-radius: 15px !important;
    font-family: 'Verdana' ;
   
}

#fileInput{
    font-size: 15px !important;
    margin-left: 0px !important;
}

#submitCreate{
    background-color: #0429EA;
   border-radius:0;
    font-family: 'Verdana' ;
    color: white;
    font-weight: bold;
font-size: 20px;
width: 150px !important;
margin-left: 70%;
}

#submitCreate:hover{
   
   border-radius:0;
    font-family: 'Verdana' ;
    color: black;
    font-weight: bold;
font-size: 20px;
width: 150px !important;
}

#textNote{
    font-weight: normal;
}


#iconModer{
	background-color:#ACABD2 !important;
	border: 0px !important;
	margin-left: 0px !important;
	 border-bottom-right-radius: 20px;
	margin-top: 30% !important;
}